<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminPage</title>
</head>
<h1>Admin Dashboard</h1>
<body>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Manage User Accounts", "Index", "iCareUsers")</h2>
        <p>Allow Admin to add users.</p>
    </div>
</body>
</html>