@model Group11_007_iCAREAPP.Models.DrugDictionary

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>DrugDictionary</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DrugName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DrugName)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.DrugId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
